@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* navbar section start*/

#logohead{
    height: 50px;
    width: 50px;
    padding: 2px;
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: #f04141;
    font-family: "Poppins", sans-serif;
	opacity: 95%;
	z-index: 100;
}
.head{
    font-size: 14px;
    font-weight: bold;
}

.logo {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 90%;
    
}

.nav-links li {
    list-style: none;
    border-left: black;
}
.nav-links :hover{
    color: #ff0000;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color:#ffffff;
    margin: 5px;
    transition: all 0.3s ease;
}


.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    body {
        overflow-x: hidden;
    }
    
    .nav-links {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #f04141;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    
    .nav-links li {
        opacity: 0;
    }
    
    .burger {
        display: block;
        cursor: pointer;
    }
    .bgimg{
        height: 70vh;
    }
   
}

.nav-active {
        transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}
/*  navbar section end */

/* back ground image*/
.bgimg{
    height: 100vh;
	background-image:url(../images/college.jpg);
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	position: relative;
    background-repeat:no-repeat ;
}
.atxt{

    position: relative;
    top: 25%;
    left: 5%;
    transform: translate(5%,25%);
    font-family: 'Merriweather', serif;
}
.atxt h1{
    font-size: 2.5em;
    font-weight: 500;
}
.text-reveal{
     
     color: #ffff;
     padding-bottom: 10px;
     opacity: 0%;
     animation: anime 2s ease-in-out forwards;
}
.text-reveal2{
    
    color: #ffff;
    padding-bottom: 10px;
    opacity: 0%;
    animation: anime 3.5s ease-in forwards;
}
.text-reveal3{
    
    color: #ffff;
    opacity: 0%;
    animation: anime 5s ease-in forwards;
}

@keyframes anime{
    0%{
        opacity: 0%;
    }
    25%{
        opacity: 25%;
        }
    50%{
        opacity: 50%;
    }
    75%{
        opacity: 75%;
    }
    100%{
        opacity: 100%;
    }
}

.btnac{
    position: relative;
    top: 45%;
    left: 2%;
    transform: translate(2%,45%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    font-family: "Poppins", sans-serif;
    
}
.butn{
    display: inline-block;
	color: white;
	background-color: #e62d2d;
    border-radius: 10PX;
	border: 2px solid #e62d2d;
	font-size: 15px;
    text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .1rem;
	padding: 10px 30px;
	opacity: 80%;
    animation: anime 2s ease-in;
}
.butn:hover{
    background-color: #ffffff;
    color: #ff0000;
    border-color:#ffffff ;
}

.bglogo{
    animation: anime 2s ease-in forwards;
    position: relative;
    top: -1%;
    left: 75%;
}
.bglogo img{
    opacity: 90% ;
}

/*backgrounf end*/

/* about us*/
.aboutc{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(210,241,245,1) 100%);
}
#about{
    margin: 5% auto 0;
    max-width: 80%;
    font-family: "Poppins", sans-serif;
}
#about h1{
    text-align: center;
    padding-bottom: 10px;  
    font-weight: 200;
}
#about p{
    font-size: 20px;
    word-spacing: 2px;
    line-height: 25px;
    }

.adcnt{
    height: auto;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}
.adcnt a{
    color: white;
    background-color: rgb(236, 43, 43);
    width: 300px;
    display: inline-block;
    text-decoration: none;
    border: 2px solid;
    border-radius: 10px;
    margin: 5px;
}
.adcnt a:hover{
    background-color: white;
    color: rgb(241, 0, 0);
}
.adcnt p{
    font-size:  5px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}
@media screen and (max-width:700px) {
    .adcnt{
        flex-direction: column;
    }
    .adcnt p{
        font-size: 5px;
    }
    .adcnt a{
        margin: 5px;
        width: 250px;
    }
}
.tabs {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
  }
  .tabs h1{
      font-size: 20px;
  }
  .tabs .line {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 6px;
    border-radius: 15px;
    background-color: #e62d2d;
    transition: all 0.2s ease;
  }
  .tab-item {
    min-width: 80px;
    padding: 16px 20px 11px 20px;
    font-size: 20px;
    text-align: center;
    color: #e62d2d;
    background-color:transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 5px solid transparent;
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease;
  }
 
  .tab-item:hover {
    opacity: 1;
    border-color: rgba(255, 255, 255, 0.1);
    
  }
  .tab-item.active {
    opacity: 1;
  }
  .tab-content {
    padding: 28px 0;
  }
  .tab-pane {
    color: #333;
    display: none;
  }
  .tab-pane.active {
    display: block;
  }
  .tab-pane h2 {
    font-size: 24px;
    margin-bottom: 8px;
  }
  

/*about us end*/
/*NOTICE BOARD*/
.notifications{
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(210,241,245,1) 100%);
    width: fit-content;
}
.dfn{
    display: flex;align-items: center;
    justify-content: space-around;
}

.nttle{
    width: 250px;
    border-bottom: 2px solid rgb(228, 50, 50);
}
.nttle h2{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    
}


.news{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: transparent;
    
}
.announcement{
    height: 80vh;
    width: 30%;
    background-color: #fff;
    border: 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgb(82, 77, 77);
}
.annh{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    border-bottom: 2px solid rgb(228, 50, 50);
}
.updates{
    height: fit-content;
    width: 60%;
    background-color: #fff;
    border: 2px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgb(82, 77, 77);
    margin-bottom: 10px;

}
.scroll{
    height: 80%;
    padding-top: 5px;
    
}
.scroll p{
    color: cornflowerblue;
    padding-bottom: 20px;
    text-align: center;

}
.scroll a{
    text-decoration: none;
}
.scroll p:hover{
    color: rgb(11, 171, 245);
}


.ucnt{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    
}
.event:hover{
    box-shadow: 2px 2px 2px 0px rgb(223, 113, 113);
}
.evbtn{
    padding: 5px;
}
.event{
    background-color: rgb(255, 255, 255);
    height: 10%;
    width: 40%;
    border: 1px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #4e4d4d;
    font-size: medium;
    padding: 10px;
}
.event a{
    text-decoration: none;
    color: rgb(189, 54, 54);
    border: 1px;
    border-radius: 10px;
}
.event a:hover{
    box-shadow: 1px 1px 1px 0px #000 ;
    color: rgb(255, 0, 0);
}
@media screen and (max-width:750px) {
      
    .nttle h2{
        margin-top: 10px;
        font-size: 20px;
        border: none;
        margin-bottom: 5px;
    }

}
@media screen and (max-width:700px) {
    
    .news{
        flex-direction: column;
    }
    .announcement{
        margin-top: 5px;
        height: 50vh;
        width: 90%;
        margin-bottom: 10px;
    }
    .updates{
        margin-top: 10px;
        height: fit-content;
        width: 90%;
    }
    .event{
        font-size: 10px;
    }
}

/*NOTICE BOARD END*/


/*principal*/

/* principal section */
.hocm{
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(210,241,245,1) 100%);
	padding-bottom: 10px;
}
.hoc{
    min-height: 70vh;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 20px;
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(210,241,245,1) 100%);
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
}
.hoc h3{
	font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
	padding: 30px 0px;
}
.hoc img{
	height: 150px;
	width: 150px;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
}
.hoc p{
	text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;

}
/*principal end*/
/*gallery*/
.gallery11{
    height: 50vh;
    width: fit-content;
    align-items: center;
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(210,241,245,1) 100%);
    

}
.gallery11 img{
    height: 500px;
    width: fit-content;
}
.gallery{
    height: 80vh;
    width: 100%;
}
.swiper-container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    text-align: center;
    background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(210,241,245,1) 100%);

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .gallery img{
      height: 100%;
      width: 80%;
  }
  @media screen and (max-width: 800px){

    .gallery{
        height: 50vh;
        width: 100%;
    }
      .gallery img{
      height: 100%;
      width: 80%;    
      }

  }


/*gallery*/
/*contact us*/
#contact{
    border: 2px;
    box-shadow: 30px 30px 70px 0 rgba(0, 0, 0, 0.1);
}


.max-width{
    max-width: 1300px;
    padding: 80px 50px;
    margin: auto;
}
 .contact{
    font-family: 'Poppins', sans-serif;
	background: rgb(255,255,255);
background: radial-gradient(circle, rgba(255,255,255,1) 50%, rgba(210,241,245,1) 100%);
	padding: 10px 0px;
	border: 2px;
	border-radius: 20px;
	box-shadow: 30px 30px 70px 0 rgba(0, 0, 0, 0.1);
}
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
 .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 200;
    
    padding-bottom: 20px;
   
}
.title::before{
	border-bottom: 2px solid black;
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
.title::after{
	border-bottom: 2px solid black;
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
.titlead{
	padding: 10px 10px;
	text-align: left;
}
.titlead h3{
	font-size: 1rem;
	padding-bottom: 10px;
}
.titlead p{
	font-size: 1rem;
	padding-bottom: 10px;
	padding-top: 10px;
	
}
.titlead span{
	font-size: 1rem;
	padding: 5px 0px;
	font-weight: 500;

}

/* contact section styling */
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: crimson;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .email{
    margin-left: 10px;  
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 2px solid rgb(240, 191, 191);
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
    padding-top: 10px;
    resize: none;
}
.contact .right form .button{
    height: 47px;
    width: 170px;
}
.contact .right form .button button{
    width: 100%;
    height: 100%;
    border: 2px solid rgb(238, 58, 58);
    background: rgb(238, 58, 58);
    color: #fff;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.contact .right form .button button:hover{
    color: crimson;
    background: none;
}




/* responsive media query start */
@media (max-width: 1300px) {
    .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
   
    .max-width{
        max-width: 930px;
    }
    .column{
        width: 100%;
    }
    .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 30px;
    }
    .right{
        flex: 100%;
    }
   
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
 
}

@media (max-width: 500px) {
  

    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .title{
        font-size: 25px;
    }
 
}

/*contact us end*/

/*gallery start*/



/*gallery end*/




/*footer*/
.footer{
	display: flex;
	justify-content: space-around;
	flex-direction: column ;
	align-items: center;
	min-height: 40vh;
	width: 100%;
	background-color :rgb(0, 0, 0);

}
.footer h3{
	color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
	font-size: 30px;
}
.ficons icons{
	display: flex;
	flex-direction: row;
	justify-content: space-around;	
}
.ficons img{
	align-items: center;
}
.footer p{
	color: cornsilk;
	text-transform: capitalize;
	text-align: center;
	font-weight: 200;
	padding-bottom: 0px;
    font-family: "Poppins", sans-serif;
}
.footer a :hover{
	color: cyan;
}
.pico{
	display: flex;
	align-items: center;
	flex-direction: row;
}


/*footer end*/



/*responsive section*/
@media screen and (max-width: 700px) {
    .bgimg{
        height: 50vh;
    }
    .atxt h1{
        font-size: 19px;

    }
    .btnac{
        width: 80%;
    }
    .butn{
        font-size: 5px;
        padding: 2px, 2px;
    }
    .tabs h1{
        font-size: 15px;
        font-weight: 100;
    }
    #about p{
        font-size: 15px;
    }
    .hoc{
        min-height: 30vh;
    }
    .bglogo {
        display: none;
    }
        
}

/*department page*/


.dprt{
    display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 100px;

}
.card-title {
	font-weight: bold;
	color: #000000;
	line-height: 1;
	font-size: 20px;
	letter-spacing: 0px;
	margin-bottom: 0.5rem
  }
  
  .card-subtitle {
	color: #6c757d;
	line-height: 1;
	font-size: 14px;
	letter-spacing: 0.25px;
	word-wrap: break-word;
  }
  

  
  .card {
      font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 65%;
	height: 35%;
	padding: 1rem 1rem;
	margin: 10px;
	border-radius: 10px;
	box-shadow: 2px 20px 40px 2px rgba(226, 86, 86, 0.1);
  }
  .card-img :hover{
	box-shadow: 0 30px 70px 0 rgba(233, 14, 14, 0.1);

  }
   
  .card-img {
      height: fit-content;
	width: auto;
	border-radius: 25px;
	max-height: 15rem;
	object-fit: cover;
    box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.1);
  }
  
  .card-header {
	padding: 0.5rem 1rem;
  }
  
  .card-body {
	padding: 1rem 1rem;
	margin-bottom: 1rem;
  }
  
  .card-footer {
	padding: 0.5rem 1rem;
  }
  
  .card-footer .btn {
	display: inline-block;
	color: white;
	background-color: blue;
    border-radius: 20PX;
	border: 2px solid blue;
	font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0rem;
	padding: 5px 15px;
	opacity: 80%;
	z-index: -101;
  }
  .card-footer .btn:hover{
	  color: blue;
	  background-color: #ffffff;
	  border-color: white;
  }
  @media screen and (max-width:700px){
      .dprt{
          flex-direction: column;
      }
      
  }
/***************************/
/**********DEPARTMENT SECTIONSS********/
.dpm{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 5px;
    
}
.dpmimg{
    width: 40%;
    height: auto;
    border: 2px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0 rgb(173, 102, 102);
    padding: 5px;
    margin-top: 50px;
}
.dpmc{
    min-height: 60vh;
    width: 60%;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 0 rgb(173, 102, 102);
   text-align: center;
   text-transform: capitalize;
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
   margin-top: 50px;
   overflow: hidden;

}
.dpmc h1{
    padding: 5px;
    font-size: 30px;
}
.dpmc p{
    padding: 5px;
    line-height: 1.5;
    text-align: start;
}
.accbg{
    margin-top: 20px;
}
.accordion11 {
    background-color: rgb(243, 211, 211);
    color: rgb(31, 30, 30);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active11, .accordion11:hover {
    background-color: rgb(255, 255, 255);
    color: #ff0000;
  }
  
  .panel11 {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  @media screen and (max-width:800px) {
    .dpm{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        padding: 5px;
        
    }
    .dpmc{
       width: 90%;
    }
    .dpm img{
        width: 70%;
    }
    .dpmc h1{
          font-size: 20px;
      }
  }

/************************/






/***********/
.upd{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
