@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/* navbar section start*/
#logohead {
  height: 50px;
  width: 50px;
  padding: 2px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
  background-color: #f04141;
  font-family: "Poppins", sans-serif;
  opacity: 95%;
  z-index: 100;
}

.head {
  font-size: 14px;
  font-weight: bold;
}

.logo {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
}

.nav-links li {
  list-style: none;
  border-left: black;
}

.nav-links :hover {
  color: #ff0000;
}

.nav-links a {
  color: #e2e2e2;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #ffffff;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #f04141;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50%;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
    cursor: pointer;
  }
  .bgimg {
    height: 70vh;
  }
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/*  navbar section end */
/* back ground image*/
.bgimg {
  height: 100vh;
  background-image: url(../images/college.jpg);
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
  position: relative;
  background-repeat: no-repeat;
}

.atxt {
  position: relative;
  top: 25%;
  left: 5%;
  -webkit-transform: translate(5%, 25%);
          transform: translate(5%, 25%);
  font-family: 'Merriweather', serif;
}

.atxt h1 {
  font-size: 2.5em;
  font-weight: 500;
  color: #ffff;
  padding-bottom: 10px;
  opacity: 1;
}

@-webkit-keyframes anime {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes anime {
  0% {
    opacity: 0%;
  }
  25% {
    opacity: 25%;
  }
  50% {
    opacity: 50%;
  }
  75% {
    opacity: 75%;
  }
  100% {
    opacity: 100%;
  }
}

.btnac {
  position: relative;
  top: 45%;
  left: 2%;
  -webkit-transform: translate(2%, 45%);
          transform: translate(2%, 45%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
}

.butn {
  display: inline-block;
  color: white;
  background-color: #e62d2d;
  border-radius: 10PX;
  border: 2px solid #e62d2d;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .1rem;
  padding: 10px 30px;
  opacity: 80%;
  -webkit-animation: anime 2s ease-in forwards;
          animation: anime 2s ease-in forwards;
}

.butn:hover {
  background-color: #ffffff;
  color: #ff0000;
  border-color: #ffffff;
}

.bglogo {
  -webkit-animation: anime 2s ease-in forwards;
          animation: anime 2s ease-in forwards;
  position: relative;
  top: -1%;
  left: 75%;
}

.bglogo img {
  opacity: 90%;
}

/*backgrounf end*/
/* about us*/
.aboutc {
  background: white;
  background: radial-gradient(circle, white 50%, #d2f1f5 100%);
}

#about {
  margin: 5% auto 0;
  max-width: 80%;
  font-family: "Poppins", sans-serif;
}

#about h1 {
  text-align: center;
  padding-bottom: 10px;
  font-weight: 200;
}

#about p {
  font-size: 20px;
  word-spacing: 2px;
  line-height: 25px;
}

.adcnt {
  height: auto;
  padding: 10px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.adcnt a {
  color: white;
  background-color: #ec2b2b;
  width: 300px;
  display: inline-block;
  text-decoration: none;
  border: 2px solid;
  border-radius: 10px;
  margin: 5px;
}

.adcnt a:hover {
  background-color: white;
  color: #f10000;
}

.adcnt p {
  font-size: 5px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 5px;
}

@media screen and (max-width: 700px) {
  .adcnt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .adcnt p {
    font-size: 5px;
  }
  .adcnt a {
    margin: 5px;
    width: 250px;
  }
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tabs h1 {
  font-size: 20px;
}

.tabs .line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 6px;
  border-radius: 15px;
  background-color: #e62d2d;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.tab-item {
  min-width: 80px;
  padding: 16px 20px 11px 20px;
  font-size: 20px;
  text-align: center;
  color: #e62d2d;
  background-color: transparent;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 5px solid transparent;
  opacity: 0.6;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.tab-item:hover {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.1);
}

.tab-item.active {
  opacity: 1;
}

.tab-content {
  padding: 28px 0;
}

.tab-pane {
  color: #333;
  display: none;
}

.tab-pane.active {
  display: block;
}

.tab-pane h2 {
  font-size: 24px;
  margin-bottom: 8px;
}

.tabs h1 {
  font-family: "Poppins", sans-serif;
}

/*about us end*/
/*NOTICE BOARD*/
.notifications {
  background: white;
  background: radial-gradient(circle, white 50%, #d2f1f5 100%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dfn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nttle {
  width: 250px;
  border-bottom: 2px solid #e43232;
}

.nttle h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
}

.news {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: transparent;
}

.announcement {
  height: 80vh;
  width: 30%;
  background-color: #fff;
  border: 2px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px #3de7ec;
          box-shadow: 5px 5px 5px 0px #3de7ec;
}

.annh {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  border-bottom: 2px solid #e43232;
}

.updates {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 60%;
  background-color: #fff;
  border: 2px;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 5px 0px #524d4d;
          box-shadow: 5px 5px 5px 0px #524d4d;
  margin-bottom: 10px;
}

.scroll {
  height: 80%;
  padding-top: 5px;
}

.scroll p {
  color: cornflowerblue;
  padding-bottom: 20px;
  text-align: center;
}

.scroll a {
  text-decoration: none;
}

.scroll p:hover {
  color: #0babf5;
}

.ucnt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 10px;
}

.event:hover {
  -webkit-box-shadow: 2px 2px 2px 0px #df7171;
          box-shadow: 2px 2px 2px 0px #df7171;
}

.evbtn {
  padding: 5px;
}

.event {
  background-color: white;
  height: 10%;
  width: 40%;
  border: 1px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px #4e4d4d;
          box-shadow: 0px 0px 5px 0px #4e4d4d;
  font-size: medium;
  padding: 10px;
}

.event a {
  text-decoration: none;
  color: #bd3636;
  border: 1px;
  border-radius: 10px;
}

.event a:hover {
  -webkit-box-shadow: 1px 1px 1px 0px #000;
          box-shadow: 1px 1px 1px 0px #000;
  color: red;
}

@media screen and (max-width: 750px) {
  .nttle h2 {
    margin-top: 10px;
    font-size: 20px;
    border: none;
    margin-bottom: 5px;
  }
}

@media screen and (max-width: 700px) {
  .news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .announcement {
    margin-top: 5px;
    height: 50vh;
    width: 90%;
    margin-bottom: 10px;
  }
  .updates {
    margin-top: 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 90%;
  }
  .event {
    font-size: 10px;
  }
}

/*NOTICE BOARD END*/
/*principal*/
/* principal section */
.hocm {
  background: white;
  background: radial-gradient(circle, white 50%, #d2f1f5 100%);
  padding-bottom: 10px;
}

.hoc {
  min-height: 70vh;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  background: white;
  background: radial-gradient(circle, white 50%, #d2f1f5 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
}

.hoc h3 {
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 0px;
}

.hoc img {
  height: 150px;
  width: 150px;
  -webkit-box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.1);
}

.hoc p {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

/*principal end*/
/*gallery*/
.gallery {
  height: 80vh;
  width: 100%;
}

.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  background: white;
  background: radial-gradient(circle, white 50%, #d2f1f5 100%);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gallery img {
  height: 60%;
  width: 80%;
}

@media screen and (max-width: 800px) {
  .gallery {
    height: 40vh;
    width: 100%;
  }
  .gallery img {
    height: unset;
  }
}

/*gallery*/
/*contact us*/
#contact {
  border: 2px;
  -webkit-box-shadow: 30px 30px 70px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 30px 30px 70px 0 rgba(0, 0, 0, 0.1);
}

.max-width {
  max-width: 1300px;
  padding: 80px 50px;
  margin: auto;
}

.contact {
  font-family: 'Poppins', sans-serif;
  background: white;
  background: radial-gradient(circle, white 50%, #d2f1f5 100%);
  padding: 10px 0px;
  border: 2px;
  border-radius: 20px;
  -webkit-box-shadow: 30px 30px 70px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 30px 30px 70px 0 rgba(0, 0, 0, 0.1);
}

.contact .contact-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.title {
  position: relative;
  text-align: center;
  font-size: 40px;
  font-weight: 200;
  padding-bottom: 20px;
}

.title::before {
  border-bottom: 2px solid black;
  position: absolute;
  bottom: 0px;
  left: 50%;
  width: 180px;
  height: 3px;
  background: #111;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.title::after {
  border-bottom: 2px solid black;
  position: absolute;
  bottom: -8px;
  left: 50%;
  font-size: 20px;
  color: crimson;
  padding: 0 5px;
  background: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.titlead {
  padding: 10px 10px;
  text-align: left;
}

.titlead h3 {
  font-size: 1rem;
  padding-bottom: 10px;
}

.titlead p {
  font-size: 1rem;
  padding-bottom: 10px;
  padding-top: 10px;
}

.titlead span {
  font-size: 1rem;
  padding: 5px 0px;
  font-weight: 500;
}

/* contact section styling */
.contact .contact-content .column {
  width: calc(50% - 30px);
}

.contact .contact-content .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.contact .contact-content .left p {
  text-align: justify;
}

.contact .contact-content .left {
  margin: 10px 0;
}

.contact .contact-content .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact-content .row .info {
  margin-left: 30px;
}

.contact .contact-content .row i {
  font-size: 25px;
  color: crimson;
}

.contact .contact-content .info .head {
  font-weight: 500;
}

.contact .contact-content .info .sub-title {
  color: #333;
}

.contact .right form .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 15px;
}

.contact .right form .textarea {
  height: 80px;
  width: 100%;
}

.contact .right form .name {
  margin-right: 10px;
}

.contact .right form .email {
  margin-left: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
  height: 100%;
  width: 100%;
  border: 2px solid #f0bfbf;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-size: 17px;
  font-family: 'Poppins', sans-serif;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}

.contact .right form .button {
  height: 47px;
  width: 170px;
}

.contact .right form .button button {
  width: 100%;
  height: 100%;
  border: 2px solid #ee3a3a;
  background: #ee3a3a;
  color: #fff;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.contact .right form .button button:hover {
  color: crimson;
  background: none;
}

/* responsive media query start */
@media (max-width: 1300px) {
  .max-width {
    margin-left: 0px;
  }
}

@media (max-width: 1104px) {
  .left img {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 991px) {
  .max-width {
    padding: 0 50px;
  }
}

@media (max-width: 947px) {
  .max-width {
    max-width: 930px;
  }
  .column {
    width: 100%;
  }
  .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto 30px;
  }
  .right {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media (max-width: 690px) {
  .max-width {
    padding: 0 23px;
  }
}

@media (max-width: 500px) {
  .contact .right form .fields {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .title {
    font-size: 25px;
  }
}

/*contact us end*/
/*gallery start*/
/*gallery end*/
/*footer*/
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40vh;
  width: 100%;
  background-color: black;
}

.footer h3 {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: 30px;
}

.ficons icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ficons img {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer p {
  color: cornsilk;
  text-transform: capitalize;
  text-align: center;
  font-weight: 200;
  padding-bottom: 0px;
  font-family: "Poppins", sans-serif;
}

.footer a :hover {
  color: cyan;
}

.pico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/*footer end*/
/*responsive section*/
@media screen and (max-width: 700px) {
  .bgimg {
    height: 60vh;
  }
  .atxt h1 {
    font-size: 19px;
  }
  .btnac {
    width: 80%;
    margin-bottom: 5px;
  }
  .butn {
    font-size: 10px;
    padding: 2px, 2px;
  }
  .tabs h1 {
    font-size: 15px;
    font-weight: 100;
  }
  #about p {
    font-size: 15px;
  }
  .hoc {
    min-height: 30vh;
  }
  .bglogo {
    display: none;
  }
}

/*department page*/
.dprt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 100px;
}

.card-title {
  font-weight: bold;
  color: #000000;
  line-height: 1;
  font-size: 20px;
  letter-spacing: 0px;
  margin-bottom: 0.5rem;
}

.card-subtitle {
  color: #6c757d;
  line-height: 1;
  font-size: 14px;
  letter-spacing: 0.25px;
  word-wrap: break-word;
}

.card {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  width: 65%;
  height: 35%;
  padding: 1rem 1rem;
  margin: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 20px 40px 2px rgba(226, 86, 86, 0.1);
          box-shadow: 2px 20px 40px 2px rgba(226, 86, 86, 0.1);
}

.card-img :hover {
  -webkit-box-shadow: 0 30px 70px 0 rgba(233, 14, 14, 0.1);
          box-shadow: 0 30px 70px 0 rgba(233, 14, 14, 0.1);
}

.card-img {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  border-radius: 25px;
  max-height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 30px 70px 0 rgba(0, 0, 0, 0.1);
}

.card-header {
  padding: 0.5rem 1rem;
}

.card-body {
  padding: 1rem 1rem;
  margin-bottom: 1rem;
}

.card-footer {
  padding: 0.5rem 1rem;
}

.card-footer .btn {
  display: inline-block;
  color: white;
  background-color: blue;
  border-radius: 20PX;
  border: 2px solid blue;
  font-size: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0rem;
  padding: 5px 15px;
  opacity: 80%;
  z-index: -101;
}

.card-footer .btn:hover {
  color: blue;
  background-color: #ffffff;
  border-color: white;
}

@media screen and (max-width: 700px) {
  .dprt {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/***************************/
/**********DEPARTMENT SECTIONSS********/
.dpm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  margin-top: 30px;
}

.dpmimg {
  width: 40%;
  height: 40vh;
  border: 2px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 0 #ad6666;
          box-shadow: 2px 2px 2px 0 #ad6666;
  padding: 5px;
  margin-top: 50px;
}

.dpmc {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 2px 0 #ad6666;
          box-shadow: 2px 2px 2px 0 #ad6666;
  text-align: center;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-top: 50px;
  overflow: hidden;
}

.dpmc h1 {
  padding: 5px;
  font-size: 30px;
}

.dpmc p {
  padding: 5px;
  line-height: 1.5;
  text-align: start;
}

.accbg {
  margin-top: 20px;
}

.accordion11 {
  background-color: #f3d3d3;
  color: #1f1e1e;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.active11, .accordion11:hover {
  background-color: white;
  color: #ff0000;
}

.panel11 {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

@media screen and (max-width: 800px) {
  .dpm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px;
  }
  .dpmc {
    width: 90%;
  }
  .dpm img {
    width: 70%;
  }
  .dpmc h1 {
    font-size: 20px;
  }
}

.staffif {
  margin-top: 100px;
}

/************************/
/***********/
.upd {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */